
__pycache__/
*.py[cod]
*$py.class

dbt-env/
venv/
.venv/
env/

logs/
airflow.db
airflow-webserver.pid

my_data_platform/target/
my_data_platform/dbt_packages/
my_data_platform/logs/

config
.env
*.env

.vscode/
.idea/
.DS_Store
*.swp
